<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.4.8100.0">
	<connectionStrings>
		<add connectionString="data source=DESKTOP-5UFCT6J\AZUREEDITION;Integrated Security=SSPI;initial catalog=DF2023MobileApp" name="Sitefinity" />
	</connectionStrings>
</dataConfig>