<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.4.8100.0" validationKey="2DFBCA89629A3CFCFC6DEE1379BFD20F07DEA34EFDAE87513854D7A7F9AC015AF6AE091B434E0B80E0007E4B05599A5A34EC64934D796DE0CBA14DE52D7B892A" decryptionKey="867404184ACCB4DB28CA9F3444C355E931969404391B2C743DF7FFF492142FDC">
	<membershipProviders>
		<add enablePasswordReset="true" name="Default" config:flags="1" />
	</membershipProviders>
</securityConfig>