<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.4.8100.0">
	<applicationModules>
		<add startupType="Disabled" name="Blogs" config:flags="1" />
		<add startupType="Disabled" name="Forms" config:flags="1" />
		<add startupType="Disabled" name="Lists" config:flags="1" />
		<add startupType="Disabled" name="Newsletters" config:flags="1" />
		<add startupType="Disabled" name="ControlTemplates" config:flags="1" />
		<add startupType="Disabled" name="Personalization" config:flags="1" />
		<add startupType="Disabled" name="ContextualHelp" config:flags="1" />
		<add startupType="Disabled" name="ABTesting" config:flags="1" />
		<add startupType="Disabled" name="Translations" config:flags="1" />
		<add startupType="Disabled" name="HubSpotConnector" config:flags="1" />
		<add startupType="Disabled" name="DataIntelligenceConnector" config:flags="1" />
		<add startupType="Disabled" name="EloquaConnector" config:flags="1" />
		<add startupType="Disabled" name="SharepointConnector" config:flags="1" />
		<add startupType="Disabled" name="NativeChat" config:flags="1" />
		<add startupType="Disabled" name="SalesForceConnector" config:flags="1" />
		<add startupType="Disabled" name="SitemapGenerator" config:flags="1" />
	</applicationModules>
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity" config:key="3" config:flags="1" />
	</typeImplementationsMapping>
</systemConfig>